{% extends "base.html" %}
{% block title %} 
  Test Title
{% endblock %}

{% block content %}
  {% if all_servers_list %}
    <table>
      <tr>
        <td>Name</td>
        <td>Operating System</td>
        <td>Cpu</td>
        <td>Memory</td>
        <td>Operational</td>
        <td>Reserved By</td>
        <td>End Date</td>
        <td>Notes</td>
      </tr>
      {% for server in all_servers_list %}
        <tr>
          <td> {{ server.name }} </td>
          <td> {{ server.operating_system }} </td>
          <td> {{ server.cpu }} </td>
          <td> {{ server.memory }} </td>
          <td>
            {% if server.operational %}
              Works!
            {% else %}
              Doesn't Work!
            {% endif %}
          </td>
          <td>
            {% if server.reservation != "" %} 
              {{ server.reservation.reserved_by }} 
            {% else %}
              None
            {% endif %}
          </td>
          <td> 
            {% if server.reservation.end_date != "" %}
              {{ server.reservation.end_date }}
            {% else %}
              Reserve
            {% endif %}
          </td>
          <td> {{ server.notes }} </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No servers are available.</p>
  {% endif %}
{% endblock %}
